/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

body{
  background-color:#8A8FA8;
  color: white;
}
.nav {
    overflow: hidden;
    background-color: #6C7393;
  }
.nav a{
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 28px 30px;
    text-decoration:none;
    font-size: 25px;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
  }  
.nav a.active {
    background-color: #04AA6D;
    color: white;
  }
li{
   margin-top:10px;
   margin-bottom:5px
}
p{
  text-align: center;
  margin:50px;
  text-align: justify;
  text-align-last:auto;
  font-size: 20px;
}

a:hover{
  text-decoration: underline;
}
a{
  color: white;
  text-decoration: lightgrey;
}  
h1{
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 60px;
  padding-top: 20px;
}
h2{
  font-size: 25px;
  color: black;
  padding-left: 48px;
}

#font{
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
}
#hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-bottom: 20px;
    border-radius: 100px;
}
#grid1{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 40%;
}
/*billeder*/
#sheet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 60%;
}
#temacv { 
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 70%;
    border-radius: 4%;
    margin-bottom: 40px;
}
#første{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 70%;
}
#adaptiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 80%;
}

#liquid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 80%;
}
#statisk{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 80%;
}
#aida{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 80%;
    height:35%;
}
#nyhedstrekanten{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 80%;
    height:30%;
}
#tema3{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 60%;
}
/*billeder slut*/


@media screen and (min-width: 700px) {
  body {
      background-color: lightblue;
  }
  p{
    font-size: 30px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  .nav a{
    font-size: 30px;
  }
  #font{
    font-size: 60px;
    }
  #adaptiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 60%;
  }
  #responsiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    Width: 60%;
  }
  #hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    padding-bottom: 20px;
    Width: 60%;
  }
  #liquid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 60%;
  }
  #statisk{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 60%;
  }
  #aida{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding-bottom: 20px;
  width: 60%;
  height: 35%;
  }
  #nyhedstrekanten{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 65%;
     height: 40%;
  }
  #tema3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 20px;
    width: 40%;
  }
@media screen and (min-width: 1150px) {
    body {
        background-color:#8A8FA8;
    }
    p{
      font-size: 30px;
    }
    h1{
      font-size: 45px;
    }
    h2{
      font-size: 30px
    }
    .nav a{
      font-size: 30px;
      margin: 7px;
    }  
    #font{
      font-size: 70px;
      writing-mode: vertical-rl;
      font-family:fantasy
    }
    #adaptiv{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 20px;
        width: 60%;
    }
    #sheet{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      padding-bottom: 20px;
      width: 50%;
    }
    #liquid{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 20px;
        width: 60%;
    }
    #statisk{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 20px;
        width: 60%;
    }
    #grid1{
      display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 20px;
        width: 40%;
    }
    #aida{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding-bottom: 20px;
        width: 40%;
        height: 35%;
    }
    #temacv{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      width: 50%;
      border-radius: 4%;
      margin-bottom: 40px;
      }
    #nyhedstrekanten{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        width: 35%;
        height: 40%;
    }
    #tema3{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        width: 30%;
    }
    a:link{
      text-decoration:underline;
    }
  }
}